@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components{
    .loader::before {
        position: absolute;
        border: 16px solid #f3f3f3;
        border-radius: 100%;
        border-top: 16px solid #3498db;
        border-bottom: 16px solid #3498db;
        width: 16rem;
        height: 16rem;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }
    
    .fadeout{
        animation: fadeOut 5s ease-in-out;
    }

    @keyframes fadeOut {
        from { opacity: 1; }
        to { opacity: 0; }
    }
}